# TOPIC: CORRELATION

### PROBLEM STATEMENT: Write a function in python that take dataframe as input and drop columns having Pearson correlation more than 0.85

In [21]:
import pandas as pd

In [102]:
df = pd.read_csv("Loan payments data.csv")

In [103]:
df.dtypes

Loan_ID            object
loan_status        object
Principal           int64
terms               int64
effective_date     object
due_date           object
paid_off_time      object
past_due_days     float64
age                 int64
education          object
Gender             object
dtype: object

In [104]:
df.isnull().sum()

Loan_ID             0
loan_status         0
Principal           0
terms               0
effective_date      0
due_date            0
paid_off_time     100
past_due_days     300
age                 0
education           0
Gender              0
dtype: int64

In [105]:
df.corr()

               Principal     terms  past_due_days       age
Principal       1.000000  0.534302      -0.093139 -0.092613
terms           0.534302  1.000000      -0.102613 -0.074259
past_due_days  -0.093139 -0.102613       1.000000 -0.053849
age            -0.092613 -0.074259      -0.053849  1.000000

In [106]:
corr_matrix = df.corr().abs()

In [107]:
to_drop = [column for column in corr_matrix if any(corr_matrix[column] > 0.85)]

In [108]:
df.drop(df[to_drop], axis=1)

,Loan_ID,loan_status,effective_date,due_date,paid_off_time,education,Gender
0,xqd20166231,PAIDOFF,9/8/2016,10/7/2016,9/14/2016 19:31,High School or Below,male
1,xqd20168902,PAIDOFF,9/8/2016,10/7/2016,10/7/2016 9:00,Bechalor,female
2,xqd20160003,PAIDOFF,9/8/2016,10/7/2016,9/25/2016 16:58,Bechalor,female
3,xqd20160004,PAIDOFF,9/8/2016,9/22/2016,9/22/2016 20:00,college,male
4,xqd20160005,PAIDOFF,9/9/2016,10/8/2016,9/23/2016 21:36,college,female
...,...,...,...,...,...,...,...
495,xqd20160496,COLLECTION_PAIDOFF,9/12/2016,10/11/2016,10/14/2016 19:08,High School or Below,male
496,xqd20160497,COLLECTION_PAIDOFF,9/12/2016,9/26/2016,10/10/2016 20:02,High School or Below,male
497,xqd20160498,COLLECTION_PAIDOFF,9/12/2016,9/26/2016,9/29/2016 11:49,college,male
498,xqd20160499,COLLECTION_PAIDOFF,9/12/2016,11/10/2016,11/11/2016 22:40,college,female
499,xqd20160500,COLLECTION_PAIDOFF,9/12/2016,10/11/2016,10/19/2016 11:58,High School or Below,male